{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>


    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    <script src="http://materializecss.com/templates/starter-template/js/init.js"></script>

    <nav class="top-nav">
        <div class="nav-wrapper teal lighten-1">
            <a href="#" class="brand-logo right"><img style="max-height: 65px!important;  padding: 8px 0!important;"
                                                      class="circle" src="../static/img/logo.png"></a>
            <div class="navbar-fixed">
                <a href="#" data-activates="slide-out"
                   class="left button-collapse btn-floating btn-large waves-effect waves-light"><i
                        class="material-icons">menu</i></a>
                <a class="center page-title"></a>
            </div>
            {% if not user.is_authenticated %}
                <ul id="slide-out" class="side-nav fixed leftside-navigation ps-container ps-active-y">
                <li>
                    <div class="userView">
                        <!--<i class="material-icons right grey-text text-lighten-2"
                           style="position: absolute; bottom: -0.5em; right: 0.5em; padding: 0 0 !important;">settings</i>-->
                        <div class="background" style="height:175px;">
                            <img src="../static/img/background4.png">
                        </div>
                        <a href="#!user"><img style="margin-top: 16%;" class="circle"
                                              src="../static/img/AvatarPenguin.png"></a>
                        <a href="#!name"><span style="margin-left: 5%;" class="white-text name">Invitado</span></a>
                    </div>
                </li>
                <li><a href="{% url 'acme:index' %}"><i class="material-icons">home</i>Inicio</a></li>
               <li><a href="{% url 'login' %}"><i class="material-icons">account_circle</i>Iniciar Sesión</a></li>
            {% else %}
                <ul id="slide-out" class="side-nav fixed leftside-navigation ps-container ps-active-y">
                <li>
                    <div class="userView">
                        <!--<i class="material-icons right grey-text text-lighten-2"
                           style="position: absolute; bottom: -0.5em; right: 0.5em; padding: 0 0 !important;">settings</i>-->
                        <div class="background" style="height:175px;">
                            <img src="../static/img/background4.png">
                        </div>
                        {% if user.vendedorambprofile %}
                            {% if user.vendedorambprofile.avatar %}
                                <a href="#!user"><img style="margin-top: 16%;" class="circle"
                                                      src="{{ user.vendedorambprofile.avatar.url }}"></a>
                            {% else %}
                                <a href="#!user"><img style="margin-top: 16%;" class="circle"
                                                      src="../static/img/AvatarVendedor1.png"></a>
                            {% endif %}
                        {% elif user.vendedorfijoprofile %}
                            {% if user.vendedorfijoprofile.avatar %}
                                <a href="#!user"><img style="margin-top: 16%;" class="circle"
                                                      src="{{ user.vendedorfijoprofile.avatar.url }}"></a>
                            {% else %}
                                <a href="#!user"><img style="margin-top: 16%;" class="circle"
                                                      src="../static/img/AvatarVendedor1.png"></a>
                            {% endif %}
                        {% else %}
                            {% if user.clientprofile.avatar %}
                                <a href="#!user"><img style="margin-top: 16%;" class="circle"
                                                      src="{{ user.clientprofile.avatar.url }}"></a>
                            {% else %}
                                <a href="#!user"><img style="margin-top: 16%;" class="circle"
                                                      src="../static/img/AvatarEstudiante.png"></a>
                            {% endif %}
                        {% endif %}
                        <a href="#!name"><span style="margin-left: 5%;"
                                               class="white-text name">{{ user.username }}</span></a>
                    </div>
                </li>
                <li><a href="{% url 'acme:index' %}"><i class="material-icons">home</i>Inicio</a></li>
                {% if not user.clientprofile %} <!--cambiar esto a la página de perfil del usuario-->
                    <li><a href="{% url 'acme:perfil' %}"><i
                            class="material-icons">perm_identity</i>Perfil</a></li>
                {% endif %}
                <li><a href="/logout/"><i class="material-icons">exit_to_app</i>Cerrar
                    Sesión</a></li>
            {% endif %}
            </ul>
        </div>
    </nav>

</head>

<body>

{% block content %}
{% endblock %}

</body>

</html>