{% extends 'acme/base.html' %}
{% block content %}

    <main>
        <div class="section"></div>

        <h4 class="teal-text" style="text-align: center;">Editar perfil</h4>
        <div class="section"></div>

        <div class="container">
            <div class="z-depth-1 grey lighten-4 row"
                 style="margin-left: 5%; margin-right: 5%; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

                <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                    <div class='row'>
                        <div class='col s12 m12'>
                        </div>
                    </div>

            <div class='row'>
              <div class='input-field col s12 m12'>
                  &ensp;Nombre:
                 <div class="input-field inline ">
                <input value="{{ form.initial.first_name }}" class='validate' type='text' name='first_name' id='first_name' />
                <label style="text-align: center" for='item'></label>
                 </div>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12 m12'>
                  &ensp;Apellido:
                 <div class="input-field inline ">
                <input value="{{ form.initial.last_name }}" class='validate' type='text' name='last_name' id='last_name' />
                <label style="text-align: center" for='item'></label>
                 </div>
              </div>
            </div>

            {% block content2 %}


                    {% if form.fijo %}
                        <div class="row">
                            <div class="col s12">
                                <div class="row">
                                    <div class="input-field col s6">
                                        <i class="material-icons prefix">alarm</i>
                                        <label for={{ form.init_time.id_for_label }}> Horario de
                                            Apertura: </label> {{ form.init_time }}
                                    </div>
                                    <div class="input-field col s6">
                                        <i class="material-icons prefix">alarm</i>
                                        <label for={{ form.end_time.id_for_label }}> Horario de
                                            Cierre:</label> {{ form.end_time }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
            {% endblock %}

                    <div class='row'>
                        <div class='input-field col s12 m12'>
                            Seleccione sus formas de pago:
                            <p>
                                {{ form.cash }}
                                <label for={{ form.cash.id_for_label }}>Efectivo</label>
                            </p>
                            <p>
                                {{ form.credit }}
                                <label for={{ form.credit.id_for_label }}>Tarjeta de Crédito</label>
                            </p>
                            <p>
                                {{ form.debit }}
                                <label for={{ form.debit.id_for_label }}>Tarjeta de Débito</label>
                            </p>
                            <p>
                                {{ form.student }}
                                <label for={{ form.student.id_for_label }}>Tarjeta Junaeb</label>
                            </p>
                        </div>
                    </div>

                    <div id="file-upload" class="section">
                        <!--Default version-->
                        <div class="row section">
                            <div class="col s8 m4 l3">
                            </div>
                        </div>
                        Avatar:
                        {% csrf_token %}
                        <label for="{{ form.avatar.id_for_label }}"></label> {{ form.avatar }}
                    </div>

                    <div class='row'>
                        <input type='submit' value="Guardar cambios"/>
                    </div>

                </form>
            </div>
        </div>


    </main>
{% endblock %}