{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>


    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    <script src="http://materializecss.com/templates/starter-template/js/init.js"></script>

    <nav class="top-nav">
        <div class="nav-wrapper teal lighten-1">
            <a href="#" class="brand-logo right"><img style="max-height: 65px!important;  padding: 8px 0!important;"
                                                      class="circle" src="../static/img/logo.png"></a>
            <div class="navbar-fixed">
                <a href="#" data-activates="slide-out"
                   class="left button-collapse btn-floating btn-large waves-effect waves-light"><i
                        class="material-icons">menu</i></a>
                <a class="center page-title"></a>
            </div>
        </div>
    </nav>
</head>

<body>

    <div class="section"></div>
    <div class="section"></div>
    <h5 class="teal-text" style="text-align: center;">Hola {{ full_name }}. Bienvenido a la página </h5></div>
    <div style="text-align: center;"><a class="grey-text"> Para cerrar sesión </a><a
            href="/logout/">haz click aquí</a></div>
    <div style="text-align: center;"><a class="grey-text"> Para volver a la página inicial </a><a
            href={% url 'acme:index' %}>haz click aquí</a></div>

</body>

</html>