{% extends 'acme/base.html' %}
{% block content %}

<main>
<div class="section"></div>

      <h4 class="teal-text" style="text-align: center;">Modificar Item</h4>
      <div class="section"></div>

      <div class="container">
        <div class="z-depth-1 grey lighten-4 row" style="margin-left: 5%; margin-right: 5%; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

          <form action="/modificar/?id={{ producto.id }}" method="post" enctype="multipart/form-data">{% csrf_token %}

              <div class='row'>
                  <input type="submit" class='col offset-l4 btn waves-effect button teal save btn btn-default'></input>

                  <input value="ELIMINAR" name='type' id='type' type="submit" class='col offset-l4 btn waves-effect button teal btn btn-default'></input>

              </div>


            <div class='row'>
              <div class='col s12 m12'>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12 m12'>
                  &ensp;Nombre del producto:
                 <div class="input-field inline ">
                <input value="{{ producto.name }}" class='validate' type='text' name='name' id='name' />
                <label style="text-align: center" for='item'></label>
                 </div>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12 m12'>
                  &ensp;Precio del producto:
                  <div class="input-field inline">
                <input value="{{ producto.cost }}" class='validate' type='int' name='cost' id='cost' />
                <label style="text-align: center" for='precio'></label>
                  </div>
              </div>
            </div>
            <div class='row'>
              <div class='input-field col s12 m12'>
                  &ensp;Categoria del producto:
                  <div class="input-field inline">
                <input value="{{ producto.category }}" class='validate' type='text' name='category' id='category' />
                <label style="text-align: center" for='precio'></label>
                  </div>
              </div>
            </div>
            <div class='row'>
              <div class='input-field col s12 m12'>
                  &ensp;Stock del producto:
                  <div class="input-field inline">
                <input value="{{ producto.stock }}" class='validate' type='int' name='stock' id='stock' />
                <label style="text-align: center" for='stock'></label>
                  </div>
              </div>
            </div>
            <div class='row'>
              <div class='input-field col s12 m12'>
                  &ensp;Descripción:
                  <div class="input-field inline">
                <input value="{{ producto.description }}" class='validate' size="100" type='text' name='description' id='description' />
                <label style="text-align: center" for='stock'></label>
                  </div>
              </div>
            </div>

            <div id="file-upload" class="section">
             <!--Default version-->
            <div class="row section">
              <div class="col s8 m4 l3">
              </div>
                  </div>
                Imagen del producto:
                <input type="file" name="photo" id="photo" accept="image/*">

                <img src="{{ producto.photo.url }}" alt="Foto" style="width:304px;height:228px;">

              </div>

          </form>
        </div>
      </div>



</main>
{% endblock %}