{% extends 'acme/base.html' %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'acme:index' %}">Inicio</a>
    </div>
{% endblock %}

{% block title %} Recuperar contraseña {% endblock %}

{% block heading %}
    <h5 style="text-align: center;" class="teal-text">Recuperar contraseña</h5>
{% endblock %}

{% block content %}
    <div class="section"></div>
    <main>
        <div class="section"></div>

        <div class="section"></div>

        <div class="container">
            <div class="z-depth-1 grey lighten-4 row"
                 style="margin-left: 5%; margin-right: 5%; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

                {% if validlink %}
                    <form action="" class="col s12" method="post">
                        <div class='row'>
                            <div class='col s12'>
                            </div>
                        </div>
                        {% csrf_token %}
                        {{ form.new_password1.errors }}
                        <div class='row'>
                            <div class='input-field col s12'>
                                <label style="text-align: center;" for='id_new_password1'>Ingresa tu nueva contraseña </label> {{ form.new_password1 }}
                            </div>
                        </div>

                        {{ form.new_password2.errors }}
                        <div class='row'>
                            <div class='input-field col s12'>
                                <label style="text-align: center;" for='id_new_password2'>Ingresa tu
                                    contraseña</label> {{ form.new_password2 }}
                            </div>
                        </div>
                        <div class='row'>
                            <input type='submit' class='col l6 offset-l3 btn btn-large waves-effect teal'
                                   value="Cambiar contraseña"/>
                        </div>
                    </form>
                {% else %}
                    <h5 style="text-align: center;" class="teal-text">No se pudo completar correctamente la recuperación
                        de contraseña</h5>
                    <div style="text-align: center;"><a class="grey-text"> Para volver a intentarlo </a><a
                            href="{% url 'reset_password' %}">haz click aquí</a></div>
                    <div style="text-align: center;"><a class="grey-text"> Para volver a la página principal </a><a
                            href="{% url 'acme:index' %}">haz click aquí</a></div>
                {% endif %}
            </div>
        </div>
        <div class="section"></div>
        <div class="section"></div>
    </main>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
{% endblock %}