{% extends 'acme/base.html' %}
{% block content %}

    <script>
        $(document).ready(function () {
            $('select').material_select();
        });
    </script>

    <div class="section"></div>
    <main>
        <div class="section"></div>

        <h5 class="teal-text" style="text-align: center;">¡Regístrate!</h5>
        <div class="section"></div>

        <div class="container">
            <div class="z-depth-1 grey lighten-4 row"
                 style="margin-left: 5%; margin-right: 5%; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

                <form class="col s12 m12" method="post">
                    {% csrf_token %}
                    <div class='row'>
                        <div class='col s12 m12'>
                        </div>
                    </div>

                    <div class="input-field col s12 m12">
                        <select onchange="location=this.value">
                            <option value="{% url 'acme:signupFijo' %}">Vendedor fijo</option>
                            <option value="{% url 'acme:signupAmb' %}" disabled selected>Vendedor móvil</option>
                            <option value="{% url 'acme:signupCliente' %}">Cliente</option>
                        </select>
                        <label>Tipo de Usuario</label>
                    </div>

                    <div class='row'>
                        <div class='input-field col s12 m12'>
                            <label for={{ form.first_name.id_for_label }}> Nombre: </label> {{ form.first_name }}
                        </div>
                    </div>

                    <div class='row'>
                        <div class='input-field col s12 m12'>
                            <label for={{ form.last_name.id_for_label }}> Apellido: </label> {{ form.last_name }}
                        </div>
                    </div>

                    <div style="color: red">{{ form.username.errors }}</div>

                    <div class='row'>
                        <div class='input-field col s12 m12'>
                            <label for={{ form.username.id_for_label }}> Usuario: </label> {{ form.username }}
                        </div>
                    </div>

                    <div class='row'>
                        <div class='input-field col s12 m12'>
                            <label for={{ form.email.id_for_label }}> Email: </label> {{ form.email }}
                        </div>
                    </div>

                    <div class='row'>
                        <div class='input-field col s12 m12'>
                            Seleccione sus formas de pago:
                            <p>
                                {{ form.cash }}
                                <label for="{{ form.cash.id_for_label }}">Efectivo</label>
                            </p>
                            <p>
                                {{ form.credit }}
                                <label for={{ form.credit.id_for_label }}>Tarjeta de Crédito</label>
                            </p>
                            <p>
                                {{ form.debit }}
                                <label for={{ form.debit.id_for_label }}>Tarjeta de Débito</label>
                            </p>
                            <p>
                                {{ form.student }}
                                <label for={{ form.student.id_for_label }}>Tarjeta Junaeb</label>
                            </p>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='input-field col s12 m12'>
                            <label for={{ form.password1.id_for_label }}> Contraseña: </label> {{ form.password1 }}
                        </div>
                    </div>

                    <div style="color: red">{{ form.password2.errors }}</div>

                    <div class='row'>
                        <div class='input-field col s12 m12'>
                            <label for="{{ form.password2.id_for_label }}"> Repite tu
                                contraseña: </label> {{ form.password2 }}
                        </div>
                    </div>

                    <div class='row'>
                        <input type='submit' value="Registrarse"/>
                    </div>

                </form>
            </div>
        </div>
        <div style="text-align: center;"><a class="grey-text"> ¿Ya tienes una cuenta? </a><a href="{% url 'login' %}">Inicia
            sesión</a></div>


        <div class="section"></div>
        <div class="section"></div>
    </main>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
{% endblock %}
